body,
h1,
p {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/* MAIN */

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('../assets/images/white-bricks.jpg');
  background-size: auto 100%;
  padding: 0 16%;
  height: 100vh;
}

main div {
  flex: 1;
}

.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information-container h1 {
  font-size: 65px;
  font-weight: 600;
  margin-bottom: 15px;
  text-shadow: 0 1px 1px rgba(0, 0, 0);
}

.information-container .text {
  font-size: 1.4em;
  margin-bottom: 55px;
  font-weight: 600;
  text-shadow: 0 0 0 #000000;
}

.download-button {
  border: 3px solid black;
  padding: 10px 15px;
  font-weight: 600;
  cursor: pointer;
}

.download-button:hover {
  color: #0652a5;
  border-color: #0652a5;
  transition: ease-in-out 1s;
}

.app-img-container {
  display: flex;
  justify-content: flex-end;
}

/* ABOUT SECTION */

section {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 130px 10%;
  color: #a4a4a9;
}

section .introduction {
  flex: 0 1 480px;
}

section .text-container {
  height: 120px;
}

section small {
  font-weight: 600;
}

section h2 {
  font-size: 45px;
  margin: 15px 0 20px 0;
  color: #0652a5;
}

section .icons-container {
  margin-top: 30px;
  padding: 0 25%;
  display: flex;
  justify-content: space-around;
}

/* ICON */

.icon {
  cursor: pointer;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 3px solid #e3e3e9;
  display: flex;
}

.icon img {
  width: 40px;
  margin: auto;
}

.icon:hover {
  border-color: #0652a5;
  transition: ease-in-out 1s;
}

/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
  main {
    padding-top: 180px;
    flex-direction: column;
    text-align: center;
  }

  .information-container {
    margin-bottom: 10%;
    justify-content: center;
  }

  body main div.app-img-container {
    justify-content: center;
  }

  body main div.app-img-container img {
    height: 80%;
    position: absolute;
    top: 75%;
  }

  section {
    flex-direction: column;
    padding: 380px 15% 0 15%;
  }

  section .introduction {
    flex: 0 1 430px;
  }
}

@media screen and (max-width: 550px) {
  main {
    padding: 75px 10% 0 10%;
  }

  body main div.app-img-container img {
    height: 600px;
    top: 78%;
  }

  .information-container {
    margin-bottom: 55px;
  }

  .information-container h1 {
    font-size: 50px;
  }

  .information-container .text {
    font-size: 1.5em;
  }

  section {
    padding: 95% 10% 0 10%;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .icon img {
    width: 30px;
  }
}

@media screen and (max-width: 320px) {
  main {
    padding: 55px 10% 0 10%;
  }

  body main div.app-img-container img {
    height: 450px;
    top: 78%;
  }

  .information-container {
    margin-bottom: 55px;
  }

  .information-container h1 {
    font-size: 35px;
  }

  .information-container .text {
    font-size: 1.5em;
    margin-bottom: 35px;
  }

  section {
    padding: 90% 10% 0 10%;
  }

  section h2 {
    font-size: 40px;
  }

  section p {
    font-size: 0.9em;
  }

  .icon {
    width: 50px;
    height: 50px;
  }

  .icon img {
    width: 25px;
  }
}
